<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我是末班层的</title>
    这这里么？？？？？？？？？？？？、
</head>
<body>
法神发生电风扇快递费技术老大
<h3>{{ username }}</h3>
<h3>{{ fun1 }}打印函数的返回值</h3>
<!--mmm if标签的使用，嵌入判断语句
    -->
{% if 1  %}
今天天气好的很
{% endif %}

</body>

<form action="/mycal" method="post">
    <input type="text" name="x" value="1">
    <select name="op">
        <option value="add">+</option>
        <option value="sub">+</option>
        <option value="mul">+</option>
        <option value="div">+</option>
    </select>
    <input type="text" name="y" value=""> =
    <span></span>
    <div><input type="submit" value="开始计算"></div>
</form>
</html>